<h1>Tabella clienti</h1>


<main>
    <p-table [value]="(clients$ | async) ?? []" [columns]="columns">
        <ng-template #header let-columns>
            <tr>
                @for (col of columns; track col) {
                <th>
                    {{ col.header }}
                </th>
                }
            </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns">
            <tr>
                @for (col of columns; track col) {
                <td>
                    @if (col.field === 'active') {
                    @if(rowData[col.field]){
                    <span><i class="pi pi-check"></i></span>
                    } @else {
                    <span><i class="pi pi-times"></i></span>
                    }
                    } @else {
                    {{ rowData[col.field] }}
                    }
                </td>
                }
            </tr>
        </ng-template>
    </p-table>
</main>